@import "../../Vars.css";


.container{
    display: flex;
    padding: 149.33px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 106px;
}
.maintitle{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-primary);
    text-align: left;
}

.headingContiner{
    color: var(--color-text);
    font-size: 30px;
    font-weight: 500;
    height: 30px;

}
.skillsContainer{
    display: grid;
    justify-content: center;
    align-items: flex-start;
    gap: 42.6px;
    grid-template-columns: repeat(2,1fr);
}
.skillImg{
    align-self: start;
    width: 20%;
    height: 20%;
}
.skillCard{
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    border-radius: 10.6px;
    background: var( --color-secondary);
    min-height: 250px;

}
.skillCard:hover{
    border-bottom: 4px solid var(--color-primary);
}
.skillCard:hover .description{
    
    color: var(--color-text);
    
}
.skillCard:hover .title{
    color: var(--color-dark);
}
.skillImgContainer{
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 13.px;
    border-radius: 10.6px;
    background-color: transparent;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);

}

.cardContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}
.title{
    color: var(--color-text);
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
}

.description{
    color: var(--color-dark);
    font-style: normal;
    font-weight: 200;
    

}

@media screen and (max-width: 830px){
    .container{
        
        gap: 16px;
    }
    .skillCard{
        gap: 28px;
    }
    .cardContent{
        gap: 20px;
    }
    .headingContiner{
        font-size: 23px;
        line-height: 30px;
    }
    .skillsContainer{
        display: grid;
        justify-content: center;
        align-items: flex-start;
        gap: 42.6px;
        grid-template-columns: repeat(1,1fr);
    }
   
}